<header>
    <div class="container">
        <a routerLink="/" class="logo">food list</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menue-container">
                    <a routerLink="/dashboard">Ahmed</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/order">Order</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Cart <span>3</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>